[run]
source = analytics, catalog, sales
omit =
    */tests/*
    */migrations/*
    */apps.py
    */__init__.py
    manage.py

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    def __repr__
